/.git/
/.claude/
/.vs/
/publish/
/build/
/enc_temp_folder/
intermediate/
*.aps
*.bin
*.vcxproj.user
*.lastcodeanalysissucceeded
*_combined.txt
/intermediate/
/windirstat/intermediate/
/windirstat/build/
/windirstat/Build/
/build/
.claude/
/publish/
/setup/store/out/
/setup/store/*.pfx
/setup/store/*.cer
/setup/store/**/*.pfx
/setup/store/**/*.cer
/enc_temp_folder/
/.git/
.vs/
windirstat/res/lang_combined.txt
